<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673807966197-6jmaam171ksp0rl5inql4ju74u9r950b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673807966197-6jmaam171ksp0rl5inql4ju74u9r950b</string>
	<key>API_KEY</key>
	<string>AIzaSyBl40uCdbVsLFUJfDghUniL88IDDvq5vRk</string>
	<key>GCM_SENDER_ID</key>
	<string>673807966197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aa.Items</string>
	<key>PROJECT_ID</key>
	<string>items-514d3</string>
	<key>STORAGE_BUCKET</key>
	<string>items-514d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673807966197:ios:c8b5684842de37cb500abc</string>
</dict>
</plist>